@media (max-width: 374px) {
  html {
    font-size: 13px;
    zoom: 85%;
  }
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  width: 375px;
  /*max-width: 400px;*/
  background-color: #dddddd;
  position: static;
  text-align: center;
  margin-right: auto !important;
  margin-left: auto !important;
}

#divTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divE4,
#divD4 {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
}

#rdE4,
#rdD4 {
  display: none;
}

.col1 {
  width: 20px;
}
.col2 {
  width: 100px;
}
.col3 {
  width: 20px;
}
.col4 {
  width: 153px;
}
.col5 {
  width: 24px;
}
.col6 {
  width: 24px;
}
.col7 {
  width: 24px;
}

#tableMain tbody th {
  font-size: 0.8rem;
}

#tableMain tbody tr {
  height: 90px;
  border-bottom: #999999 solid 3px;
}

.btnMove {
  display: none;
}

/* moves before */
#tableMain tbody tr td:nth-child(2) {
  color: #333333;
  text-align: left;
}

.barRate {
  width: 20px;
  background-color: grey;
}
#tableMain tbody tr td:nth-child(5) .barRate {
  background-color: hsl(0, 0%, 100%);
  border: hsl(0, 0%, 50%) solid 2px;
}
#tableMain tbody tr td:nth-child(6) .barRate {
  color: hsl(0, 0%, 50%);
  border: hsl(0, 0%, 100%) solid 2px;
}
#tableMain tbody tr td:nth-child(7) .barRate {
  color: hsl(0, 0%, 0%);
  border: hsl(0, 0%, 50%) solid 2px;
}
