@media (max-width: 374px) {
  html {
    font-size: 13px;
    zoom: 85%;
  }
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  width: 375px;
  /*max-width: 400px;*/
  background-color: #eeeeee;
  position: static;
  text-align: center;
  margin-right: auto !important;
  margin-left: auto !important;
}

#divTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divE4,
#divD4 {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
  display: table;
}

#divE4 {
  background-color: #ffffff;
  color: #000000;
}

#divD4 {
  background-color: #ffffff;
  color: #000000;
}

#divD4 label,
#divE4 label {
  display: table-cell;
  vertical-align: middle;
}

.col1 {
  width: 100px;
}
.col2 {
  width: 20px;
}
.col3 {
  width: 183px;
}
.col4 {
  width: 24px;
}
.col5 {
  width: 24px;
}
.col6 {
  width: 24px;
}

#tableMain {
  border-collapse: collapse;
}

#tableMain tbody th {
  font-size: 0.8rem;
}

#tableMain tbody tr {
  height: 90px;
  border-bottom: #cccccc solid 3px;
}

#tableMain tbody tr.rowHide {
  display: none;
}

/* moves before */
#tableMain tbody tr td:nth-child(1) {
  color: #333333;
  text-align: left;
}

.btnMove {
  display: none;
}

tr.rowm2 td:nth-child(2),
tr.rowm4 td:nth-child(2) {
  background-color: #000000;
  color: #ffffff;
}

tr.rowm3 td:nth-child(2),
tr.rowm5 td:nth-child(2) {
  background-color: #ffffff;
  color: #000000;
}

#tableMain tbody tr td:nth-child(4),
#tableMain tbody tr td:nth-child(5),
#tableMain tbody tr td:nth-child(6) {
  position: relative;
}

.barRate {
  width: 20px;
  background-color: grey;
  position: absolute;
  bottom: 0;
}
#tableMain tbody tr td:nth-child(4) .barRate {
  background-color: hsl(0, 0%, 100%);
  border: hsl(0, 0%, 50%) solid 2px;
}
#tableMain tbody tr td:nth-child(5) .barRate {
  background-color: hsl(0, 0%, 50%);
  border: hsl(0, 0%, 100%) solid 2px;
}
#tableMain tbody tr td:nth-child(6) .barRate {
  background-color: hsl(0, 0%, 0%);
  border: hsl(0, 0%, 50%) solid 2px;
}
